language: node_js

sudo: required
services:
  - docker

node_js:
  - node

cache:
  directories:
    - node_modules

before_script:
  - "npm install -g serverless"
script:
  - "(cd lambda && npm test)"

deploy: 
  - 
    provider: script
    script: 
      - "ruby serverless.rb package prod false"
      - "make all"
      - "sls deploy --package .serverless"
    skip_cleanup: true
    on:
      branch: master
  - 
    provider: script
    script: 
      - "ruby serverless.rb package dev false"
      - "make all"
      - "sls deploy --package .serverless"

    skip_cleanup: true
    on:
      branch: develop

