language: node_js

sudo: required
services:
  - docker

node_js:
  - node

cache:
  directories:
    - node_modules

before_install:
  - "npm install"
  - "cd lambda"

script:
  - "npm test"

before_deploy:
  - "cd ${TRAVIS_BUILD_DIR}"
  - "npm install -g serverless serverless-pseudo-parameters serverless-step-functions"

deploy: 
  - 
    provider: script
    script: "bash ${TRAVIS_BUILD_DIR}/deploy.sh prod"
    skip_cleanup: true
    on:
      branch: master
  - 
    provider: script
    script: "bash ${TRAVIS_BUILD_DIR}/deploy.sh dev"
    skip_cleanup: true
    on:
      branch: develop

